@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Code+Pro:wght@200&display=swap');

h2 {
  font: 19px Source code pro, sans-seriff;
  color: #53A857;
  font-weight: bolder;
  margin-left: 1rem;
}

span {
  font-weight: bolder;
  color: #54AB57;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin-left: 1rem;
}

li {
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bolder;
  color: rgb(218, 213, 213);
  border-bottom: 1px solid #585665;
}

body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222840
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
  border-radius: 5px;
}

.topSection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.bottomSection {
  display: flex;
  justify-content: space-around;
}

.assetsDiv1,
.yieldsDiv1,
.cpiDiv1 {
  display: flex;
  width: 350px;
  border-radius: 5px;
}

.assetsDiv1 {
  margin-left: 0px;
  background: #18181b;
}

.yieldsDiv1 {
  margin-left: 20px;
  background: #131527;
}

.cpiDiv1 {
  margin-left: 20px;
  background: #09090a;
}

.bankingDiv1,
.fiscalDiv1 {
  display: flex;
  border: 1px solid black;
}

.bankingDiv1 {
  width: 530px;
  background: rgb(17, 18, 26);
}

.fiscalDiv1 {
  width: 530px;
  margin-right: 20px;
  background: rgb(15, 17, 31);
}

.assetsArticle,
.yieldArticle,
.cpiArticle,
.bankingArticle,
.fiscalArticle {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}