@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Code+Pro:wght@200&display=swap');

.divHeader {
  padding: 20px;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
}

.macroh1 {
  color: #4e8572;
}

h2 {
  font: 23.5px Source code pro, sans-seriff;
  color: #53A857;
  font-weight: bolder;
  text-align: center;
}

h3 {
  font-weight: bolder;
  color: #54AB57;
  font-size: 17px;
  margin-bottom: 8px;
  margin-left: 1rem;

}

.insideLiSpan1 {
  font-weight: normal;
  color: rgb(218, 213, 213);
  margin: 0px 13px 0px 0px;
}

b {
  font-size: 15px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  font-size: 14.5px;
  color: rgb(218, 213, 213);
  margin-bottom: 10px;
}

li:hover {
  animation: animatebanner1 20s infinite linear;
}

@keyframes animatebanner1 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  50% {
    -webkit-transform: translateX(100%);
    transform: translateX(-100%);
    opacity: 1;
  }

  50.2% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }

  50.3% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100);
    opacity: 1;
  }
}

body {
  margin: 0;
  /* height: 140vh; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0c0f1b
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
  border-radius: 5px;
  flex-grow: 1;
}

.topSection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.bottomSection {
  display: flex;
  justify-content: space-around;
}

.assetsDiv1,
.yieldsDiv1,
.cpiDiv1 {
  display: flex;
  width: 350px;
  border-radius: 5px;
  border: 1px solid #3b5049;
}

.assetsDiv1 {
  margin-left: 0px;
  background: #0f0f11;
}

.yieldsDiv1 {
  margin-left: 20px;
  background: #0c0d18;
}

.cpiDiv1 {
  margin-left: 20px;
  background: #09090a;
}

.assetsDiv1:hover,
.yieldsDiv1:hover,
.cpiDiv1:hover {
  box-shadow: 4px 4px 4px 4px rgb(58, 28, 28)
}

.bankingDiv1,
.fiscalDiv1 {
  display: flex;
  border: 1px solid #3b5049;
  border-radius: 5px;
  margin: 0px 24px 0px 0px;
}

.bankingDiv1 {
  width: 530px;
  background: rgb(17, 18, 26);
}

.fiscalDiv1 {
  width: 530px;
  margin-right: 20px;
  background: rgb(15, 17, 31);
}

.bankingDiv1:hover,
.fiscalDiv1:hover {
  box-shadow: 4px 4px 4px 4px rgb(58, 24, 24)
}

.assetsArticle,
.yieldArticle,
.cpiArticle,
.bankingArticle,
.fiscalArticle {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.listDiv {
  border-bottom: 1px solid #585665;
  margin: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  color: rgb(238, 227, 227);
  font-weight: bolder;
  text-shadow: 1px 1px 10px rgb(102, 38, 38);
}

.footerDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}